.about {
  max-width: 1920px;
  width: 100%;
  padding: 1rem 0 0 0;
  position: relative;
  background: #e8e8e88a;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin: 2rem 0 0 0;
  opacity: 0;
  transform: translate(0px, 120%);
  transition: all 0.7s ease 0s;
}

.about__title.animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0s;
}

.about__row {
  display: flex;
  justify-content: space-between;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem 0;
  border: 1px solid #9f9595;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex: 1;
}

.about__itemtitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
  text-align: center;
  opacity: 0;
  transform: translate(0px, 120%);
  transition: all 0.7s ease 0s;
}

.about__itemtitle:nth-child(1).animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0.1s;
}

.about__itemtitle:nth-child(2).animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0.2s;
}

.about__itemtitle:nth-child(3).animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0.3s;
}

.about__itemtext {
  margin: 1rem 1rem 0;
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  transform: translate(0px, 25%);
  transition: all 0.7s ease 0s;
}

.about__itemtext:nth-child(1).animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0s;
}

.about__itemtext:nth-child(2).animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0.2s;
}

.about__itemtext:nth-child(3).animated-active {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.7s ease 0.3s;
}

.about__payment {
  width: 70%;
  text-align: center;
  margin: 2rem 0;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.1);
}

.about__methods {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about__paymenttitle {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.about__methodimg {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  transform: scale(0);
  transition: all 0.7s ease 0.3s;
}

.about__methodimg img {
  width: 100%;
  height: 100%;
}

.about__methodimg.animated-active {
  transform: scale(1);
  transition: all 0.7s ease 0.3s;
}

.about__lines {
  height: 1vw;
  margin: 1rem 0 0;
  border-bottom: 2px solid #1f8600;
  border-top: 2px solid black;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
}

.icon {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.7rem;
  color: #1f8600;
}

.icon__small {
  font-size: 1.5rem;
  color: #1f8600;
  margin: 1rem 0 0;
  text-align: center;
}

@media (max-width: 767px) {
  .about__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
