 .reviews {
   width: 100%;
   max-width: 1920px;
   padding: 1rem 0 0 0;
   background: rgb(255, 255, 255);
   &__container {
      max-width: 1200px;
      margin: 0 auto 0 auto;
   }
   &__content {
/*       display: flex;
      flex-direction: column;
      align-items: center; */
   }
    &__title{
      color: rgb(31, 134, 0);
      text-align: center;
   }
   &__icon {
   font-size: 2rem;
   text-align: center;
   margin-top: 0.7rem;
   }
   /* слайд */
   &__logo {
      width: 150px;
      height: 150px;
      margin: 2rem auto 0.5rem;
      background: #e8e8e88a;
      border-radius: 50%;
      overflow: hidden;
      border: 1px dotted #000;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__logo img{
      height: 100%;
      margin: 1rem auto 0;
   }
   &__author {
      margin: 1rem 1rem 0;
      font-weight: 700;
   }
   &__adress{
      margin: 0.7rem 1rem 0;
      font-size: 0.8rem;
   }
   &__adress span{
      font-size: 1rem;
      color: rgb(31, 134, 0);
   }

	&__text {
      margin: 1.5rem 1rem 2rem;
      line-height: 1.5;
      font-weight: 400;
      text-align: center;
      width: 200px;
   }
 }
.swiper {
   width: 100%;
   position: relative;
   &__btns{
      display: flex;
      margin: 1rem 0;
   }
  
   &__btns button {
      width: 50px;
      height: 30px;
      box-shadow: 0px 35px 50px -7px #000000;
      margin:0 1rem 0;
      position: relative;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      line-height: 45px;
      text-align: center;
   }
   &__btns button:first-child:after{
      content: "";
      width: 20px;
      height: 30px;
      transform: skew(30deg);
      background: rgb(31, 134, 0);
      position: absolute;
      top: 0;
      right: -7px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
   }
   &__btns button:last-child::before{
      content: "";
      width: 20px;
      height: 30px;
      transform: skew(30deg);
      background: rgb(159, 149, 149);
      position: absolute;
      top: 0;
      left: -7px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
   }
   &__btns button:first-child{
      background: rgb(31, 134, 0);
   }
   
   &__btns button:last-child{
      background: rgb(159, 149, 149);
   }
   &__btns button:hover {
      transform: scale(1.1);
   }
   &__btns button:active {
      transform: scale(0.9);
   }
 }
.swiper-slide{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   width: 300px;
}
.swiper-pagination-bullet-active {
   background:rgb(31, 134, 0)
 }

 @media (max-width: 766px) {
    .swiper__btns{
       justify-content: center;
    }
 }